<p>listemployee works!</p>
<h1>Employee List</h1>
                <table class="list" id="employeeList">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>EmpId</th>
                            <th>Address</th>
                            <th>Salary</th>
                            <th>DOJ</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>